:root {
    font-size: 10px;
    --main-color: #d3ad7f;
    --black: #131313;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.video-box {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.video-box video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

section, main {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 120px;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100%;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}



.header section nav a {
    margin: 1rem 2rem;
    font-size: 1.8rem;
    color: #fff;
    transition: 0.5s ease;
    position: relative;
}

.header section nav a::after {
    content: " ";
    width: 0%;
    height: 0.2rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;

}

.header section nav a:hover::after {
    width: 100%;
}

.header section nav a:hover {
    color: var(--main-color);
}

.hidden {
    display: none;
}

.content-box {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content-box div{
    max-width: 60rem;
    margin: 20vh 0;
}

.content-box div h3{
    color: #fff;
    font-size: 6rem;
    text-transform: uppercase;
}

.content-box div p{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1rem 0;
    line-height: 1.8;
}

.button-link{
    background-color: var(--main-color);
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.7rem;
    color: #fff;
    padding: 3rem 4rem;
    border-radius: 3px;
    border: none;
    transition: .3s ease-in;
}

.button-link:hover{
    background-color: #f4c58d;
    color:var(--black);
}

.title-dual{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.title-dual span{
    color: var(--main-color);
}

.about-background {
    margin-top: 5px;
    background-image: url('./img/aboutCoffee.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    min-height: 40rem;
    max-height: 50rem;
    color: #fff;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;  
}

.about-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 1rem; 
}

.about-container {
    position: relative;
    max-width: 80rem;
    text-align: center;
    z-index: 2;
}

.about-text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-text p {
    margin-bottom: 1rem;

    font-size: 2rem;
}

.button-link {
    display: inline-block;
    background-color: #d3ad7f;
    color: #010103;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #b58e67;
}

.about-section .about-container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about-section .about-container .about-image{
    flex: 1 1 45rem;
}



.about-section .about-container {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about-section .about-container h3{
    font-size: 3rem;
    color: #fff;
}

.about-section .about-container p{
    font-size: 2rem;
    color: #fff;
    line-height: 1.8;
    padding: 1rem 0;
}

.modal{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
    z-index: 4;
    position: fixed;
    top:50%;
    left: -30%;
    transform: translate(-50%, -50%);
    transition: left 1s linear;
}

.modal-mask{
    transition: .2s linear;
    z-index: 3;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15% , rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    visibility: hidden;
}

.container-about-us{
    display: flex;
    height: 80vh;
    z-index: 4;
    position: fixed;
    top:50%;
    left: -50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in;
}
.modal-about-us{
    background-color: #131313;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    border-radius: 10px;
    width: 70vw;
    height: auto;
    color: #fff;
    line-height: 1.8;
    font-size: 2rem;
}

.modal-about-us h3{
    display: flex;
    font-size: 5rem;
    justify-content: center;
}

.close-button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}