:root {
    font-size: 10px;
    --main-color: #d3ad7f;
    --black: #131313;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.video-box {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.video-box video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 120px;
    background-color: var(--bg);
    border-bottom: var(--border);
    width: 100%;
}

.header section {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    justify-self: center;
    padding-top: 15px;
}


.header section nav a {
    font-size: 1.8rem;
    color: #fff;
    transition: 0.5s ease;
    position: relative;
}

.header section nav a::after {
    content: " ";
    width: 0%;
    height: 0.2rem;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;

}

.header section nav a:hover::after {
    width: 100%;
}

.header section nav a:hover {
    color: var(--main-color);
}

.hidden-titles{
    display: none;
}

.container {
    display: grid;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    position: relative;    
    z-index: 1;              
    gap: 1rem;               
}

.container h3 {
    color: #fff;
    text-transform: capitalize;
    justify-self: center;
    font-size: 4rem;
    margin-top: 200px;          
}

.container span{
    color: var(--main-color);
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100rem;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow: hidden;
    width: 100%;
    height: 60rem;
}

.gallery {
    display: flex;
    transition: transform 0.6s ease;
}

.item {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.control {
    background: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
    position: relative;
}
